# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.log


# Scala-IDE specific
.scala_dependencies
.worksheet

# Scala-IDE specific
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.scala_dependencies
.worksheet

# VirtualEnvs
venvs/

# HDF5 files
*.h5
